body {
    background: #444;
    color: #fff;
}

.card {
    background: #333;
    color: #fff;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
}

.card img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
}